body{
	
	font-family: helvetica, arial, sans-serif;
	font-size: 100%;
	text-align: justify;
	line-height: 1.5;
	background-image: url("../images/guitars.jpg");
	background-repeat: repeat-y;
	max-width: 900px;
	margin: 36px auto;
}

#wrapper{
	width: 100%; /*790px;*/
	margin: 0 auto;
}

#masthead{
	margin-bottom: 75px;
	margin-left: 2%;
}

h1{
	font-family: 'Sonsie One', cursive;
	font-size: 1.875em; /*30px*/
	text-shadow: 2px 2px 2px gray;
	color:#8B0000;
	text-align: left;

}

p{
	font-size: 0.8125em; /*13/16*/
}


h2, h3{
	color:#191970;
	margin-bottom: 2px;
	font-family: 'Days One', sans-serif;
	text-align: left;
}

/*========================Nav Bar==================*/
nav ul{
	margin-left:0;
	padding-left:0;
	white-space: nowrap;
}

ul li{
	width: 60px;
	float:left;
	list-style-type:none;
	display: inline;
	font-size: 1em;
}

a:link{
	color:#191970;
	text-decoration:none;
}

a:hover{
	color:white;
	background-color: #8B0000;
	text-decoration: none;
}
/*==================================================*/


#main_content{
	width: 66.552278%; /*526px;*/
	float:left;
	padding: 0px 3.8022814% 10px 1.9011407%;
	margin-right: 2%; /*10px, 12.658228*/
	margin-bottom: 20px;
	border-right: 1px solid #8B0000;
}

p em{
	color:#8B0000;
}

.highlight{
	color:#8B0000;
}

/*========================Photo Gallery Info==================*/
.thumbnail{
	float:left;
	border:1px solid #191970;
	margin: 0 2.851711% 15px 0;
	padding: 5px;
	width: 19.011407%; /*100px/526px*/
}

#main_content img{
		max-width: 100%;
}

.clearboth{
	clear:both;
}

/*========================Side Bar Info==================*/
#sidebar{
	width:25.316456%; /*200px;*/
	float:right;
	padding-bottom: 15px;
}

#sidebar li{
	color:#8B0000;
	list-style-type:circle;
	font-size: 0.8125em;
}

/*====================Button Styling=================*/

button.css3button {
	font-family: 'Sonsie One', cursive;
	font-size: 0.875em; /*14px;*/
	color: #ffffff;
	padding: 10px 10%;
	background: -moz-linear-gradient( top, #174761 0%, #8ab3c2 50%,#174761);

	background: -webkit-gradient(linear, left top, left bottom, from(#174761),color-stop(0.50, #8ab3c2), to(#174761));

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #000000;

	-moz-box-shadow: 0px 1px 2px rgba(000,000,000,0.2),inset 0px 0px 0px rgba(255,255,255,0);

	-webkit-box-shadow: 0px 1px 2px rgba(000,000,000,0.2), inset 0px 0px 0px rgba(255,255,255,0);

	text-shadow:
	0px -1px 0px rgba(255,255,255,0),
	0px 0px 0px rgba(255,255,255,0);
}
/*===========================================================*/

#news_container{
	clear:both;
	padding: 1.2658228%; /*10px;*/
}

#news_paragraph_container{
	-moz-column-count: 3;
	-moz-column-gap: 2.5316456%; /*20px;*/
}



/*==============================TABLE INFO============================*/

#table_container{
	margin-left: 2%;
	float:left;
	width: 45%;
}

table{
	border-collapse: collapse;
	border: 1px solid; #191970;
	margin-bottom: 15px;
	width: 100%;	
}

td{
	border: 1px solid #191970;
	text-align:center;
	padding: 0.3em;
	font-size: 0.8125em;
}

th{
	text-align:center;
	background-color: rgba(0, 0, 102, 0.25);
	color:#8B0000;
	padding: 0.3em;
	font-family: 'Days One', sans-serif;
}

/*=============================FORM INFO=============================*/

#form_container{
	float:right;
	width: 45%;
	margin-bottom: 20px;
	margin-right: 2%;

}

input:focus{
	background:rgba(0, 0, 102, 0.25);
}

form{
	width:45%;
	font-size: 0.8125em;
	text-align:left;

}



/*=========================Footer===========*/

footer{
	color:white;
	background-color: #191970;
	padding: 3px;
	margin-bottom: 10px;
	clear:both;
	width:100%;
}







/*0000000000000000000000000         Media Queries         00000000000000000000 */

/*Tablet Portrait size to standard 960 (devices and browsers)---------------------------------*/
@media screen and (min-width: 768px) and (max-width: 959px){

/*#wrapper{background-color:cyan;}*/

}




/*Mobile Landscape Size to Tablet Portrait (devices and browsers)-----------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px){

/*#wrapper{background-color:orange;}*/

#news_paragraph_container{
	-moz-column-count: 2;
	-moz-column-gap: 2.5316456%; /*20px;*/
}


}

/*Mobile Portrait Size to Mobile Landscape Size (devices and browsers)-------------------------*/
@media only screen and (max-width: 479px){

/*#wrapper{background-color:red;}*/

body{
	background-image:none;
}

#masthead{ margin-bottom: 15px;}

#news_paragraph_container{
	-moz-column-count: 1;
	-moz-column-gap: 2.5316456%; /*20px;*/
}

#sidebar{
	float:none;
	margin:auto;
	width: 100%;
}

#main_content{
	width: 95%;
	float:left;
	padding: 0px 3.8022814% 10px 1.9011407%;
	margin-right: 12.658228%; /*10px;*/
	margin-bottom: 20px;
	border-right: none;
}


h1,h2,h3{
	text-align: center;
}

nav ul li{
	float:none;
	list-style-type:none;
	display: block;
	margin:auto;
	text-align:center;
	font-family: 'Days One', sans-serif;
	font-size: 1.25em;
}

#sidebar li{
	text-align:center;
	margin:auto;
	font-family: 'Days One', sans-serif;
	font-size: 1.25em;
	list-style-type:none;
}

nav ul{
	margin-bottom: 15px;
}

#form_container{
	float:none;
	width:45%
}

form{
	width:100%;
}

table{
	width:100%;
}

#table_container{
	float:none;
	width:100%;
	margin-left: 2%;
}